@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* Gradients */

    --white-bg: repeating-radial-gradient(circle at center center, transparent 0px, transparent 13px,rgba(0,0,0,0.03) 13px, rgba(0,0,0,0.03) 24px,transparent 24px, transparent 62px,rgba(0,0,0,0.03) 62px, rgba(0,0,0,0.03) 96px),repeating-radial-gradient(circle at center center, rgb(255,255,255) 0px, rgb(255,255,255) 14px,rgb(255,255,255) 14px, rgb(255,255,255) 18px,rgb(255,255,255) 18px, rgb(255,255,255) 28px,rgb(255,255,255) 28px, rgb(255,255,255) 32px); 
    --bg-size-white-bg: 21px 21px;

    --blue-bg:  radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(135deg, rgb(37, 56, 222),rgb(96, 189, 244)); 

    --light-blue:  linear-gradient(to bottom, #ffffff5c 40%, #dcf1ff5b 90%);

    --fnt-clr-blue: #0a7cff;
    --fnt-clr-black: #222222;
}
*{
    font-family: "Poppins", sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:inherit;
    cursor: pointer;
}
button{
    cursor: pointer;
}
.flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
ul{
    list-style: none;

}
body{
    position: relative;
    background-image: #ffffff;
}

nav .center a:first-child{
    color: var(--fnt-clr-blue);
}



/* ----- Header Part ----- */

.bg{
    position: relative;
    width:100%;
    height: 740px;
    overflow: hidden;
    z-index: 1;
    background: url(../assets/img/banner0.png) no-repeat center;
    background-size:cover;
}
.bg-content{
    width: 100%;
    height: 100%;
    background-color: #2222228c;
    justify-content:center;
    align-items: center;
    padding-top: 150px;
    
}

.bg button{
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border:none;
    color:#ffffff;
    background-color: var(--fnt-clr-blue);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    align-items: center;
    gap:8px;
}
.bg button:hover{
    background-color: #0773b1;
}
.context{
    align-items: center;
}

h1{ 
    display: block;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    color: #ffffff;
    width:100%;
}

.context p{
    text-align: center;
    margin-bottom: 16px;

}
.context .headline-2{
    font-size: 1.2rem;
    font-weight: 300;
    color: #ffffff;
    width:900px;
}

/* ----- Second Section -----*/
.gallery-part .maintext, .merch-part .maintext, .works  p{
    text-align: center;
}
.works{
    padding:54px 120px;
    height: auto;
    align-items: center;
    gap:8px;
    background: var(--white-bg);
    background-size: var(--bg-size-white-bg);
    position: relative;
}

.works  p{
    font-size: 2.5rem;
    font-weight: 700;
    color:#222222;
}

.works .works-list-container{
    display: grid;
    grid-template-columns: repeat(7,auto);
    gap:8px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 520px;
    padding:8px 4px;
    transition: height 0.15s ease-in;
}
.works .works-list-container.showmore{
    height: 1025px;
}
.works .works-list-container .film{
    overflow: hidden;
    gap:8px;
    height: 250px;
    width: 160px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}
.works .works-list-container .film:hover{
    transform: scale(1.05);
}
.works .works-list-container .film p{
    font-size: 0.8rem;
    font-weight: 500;
    width: fit-content;
    overflow: hidden;
    height: 40px;
    word-break: normal;
    word-wrap: break-word;
    padding: 0 2px;
}

.works .works-list-container .film img{
    width: 160px;
    height: 200px;
    box-shadow:0px 1px 4px rgba(0, 0, 0, 0.16) ;
    object-fit: cover;
    border-radius: 0.5rem;
}

.works button{
    align-items: end;
    padding: 4px 16px;
    font-size: 1rem;
    font-weight: 500;
    gap:4px;
    border-radius: 20px;
    border:1px solid var(--fnt-clr-black);
    background-color: #ffffff;
    color:var(--fnt-clr-black);
}

.works #g-show-more-bttn.showless{
    visibility: visible;
}
.works #g-show-more-bttn.showmore{
    visibility: hidden;
}

.works #g-show-less-bttn{
    visibility: hidden;
}
.works #g-show-less-bttn.showmore {
    visibility: visible;
}
.works button:hover{
    background-color: #f0f0f0;

}
.works button img{
    height: 22px;
}

/* ----- Third Section */

.gallery-part{
    align-items: center;
    justify-content: center;
    width: auto;
    height:800px;
    z-index: 5;
}
.gallery-part .maintext, .merch-part .maintext{
    color:var(--fnt-clr-blue);
    font-size: 2.5rem;
    font-weight: 600;

}
.gallery-part .subtext{
    text-align: center;
    color:#0898eb;
}

.gallery-part button, .merch-part button{
    align-items: center;
    width:fit-content;
    font-size: 1rem;
    font-weight: 500;
    padding: 4px 16px;
    border:none;
    border-radius: 20px;
    background-color: #ffffff;
    margin: 16px 0;
    color:#222222;
    border: 1px solid #222222;
    gap:8px;
}
.gallery-part button:hover, .merch-part button:hover{
    background-color: #2222221b;
}
.gallery-part button img, .merch-part button img{
    width:20px;
}
.gallery-container{
    box-shadow:0px 1px 4px rgba(0, 0, 0, 0.16) ;
}

.gallery-part .gallery-container{
    position: relative;
    display:grid;
    justify-content: center;
    grid-template-columns:repeat(4,auto) ;
    grid-template-rows:auto auto auto;
    gap:8px;
    width: fit-content;
    height: auto;
    overflow: hidden;
    margin-top: 24px;
    padding:8px;
}

.img-container{
    position: relative;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height: fit-content;
    overflow: hidden;
    transition: transform 0.15s ease-in-out;
}
.img-container img{
    width: auto;
    height: 170px;
}
.img-container .ImgHovered{
    position:absolute;
    justify-content: center;
    align-items: center;
    opacity: 0;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222222c6;
    padding: 8px;
    width:100%;
    transition: opacity 0.15s ease-in-out;
    cursor: pointer;
}

.img-container:hover{
    transform: scale(1.03);
}
.img-container .ImgHovered:hover{
    opacity: 1;
}
.img-container .ImgHovered p{
    color:#ffffff;
    font-size: 1.4rem;
    font-weight: 500 ;
}



 .view-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #222222c6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    gap: 16px;
    visibility:hidden;
    opacity:0;
    transition:opacity 0.2s ease-in;
    z-index: 50;
}



.view-container.active {
    visibility:visible;
    opacity:1;
}


.view-container .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    padding: 8px 0;
    background-color: #ffffff;
}

.view-container .nav p {
    text-align: center;
    font-size: 1.1rem;
    color: #222222;
    font-weight: 500;
}
.view-container .nav .right img{
    padding:8px;
    background-color: #f0f0f0;
    border-radius:0.5rem;
    cursor: pointer;
}
.view-container .nav{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding:8px 16px;
    background-color: #fff;
}
.view-container .nav .left{
    justify-content: start;
}

.view-container .nav .right{
    justify-content: end;
    align-items: center;
    gap:8px;
}

.view-container .nav .right img:hover{
    background-color: #c2c2c2;
} 

.view-container .movieImage {
    width: auto;
    height: 600px;
}

/* Merchandise Part */

.merch-part{
    align-items: center;
    justify-content: center;
    width: 100%;
    height:fit-content;
    background: var(--white-bg);
    background-size: var(--bg-size-white-bg);
}
.merch-part .subtext{
    text-align: center;
}

 .prod-container{
    display:grid;
    grid-template-columns: repeat(5,225px);
    width:fit-content;
    height: auto;
    gap:8px;
    margin: 24px 0;
}
 .prod-container  .prod{
    width:fit-content;
    height: auto;
    align-items: center;
    gap:4px;
    border:1px solid rgba(0, 0, 0, 0.16) ;
    box-shadow:0px 1px 4px rgba(0, 0, 0, 0.16) ;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    background-color: #fff;
}
.prod-container  .prod:hover{
    transform: scale(1.02);
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
 .prod-container .prod img{
    height: 220px;
    width:100%;
    object-fit: contain;
}
 .prod-container .prod-bttm{
    width: 100%;
    align-items: center;
    padding:8px;
    height: auto;
}
.prod .prod-bttm p {
    font-size: 0.8rem;
}
 .prod .prod-bttm .merch-name{
    width: 200px;
    height: 50px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#222222 ;
}

 .prod .prod-bttm #merch-price{
    color:#f00606;
    font-weight: 500;
}
.prod .prod-bttm #add-to-cart-bttn{
    color:#ffffff;
    background-color: #f0060687;
    border: 1px dashed #e90000;
    font-weight: 500;
    transition: 0.15s ease-in-out;
    font-size: 0.9rem;
}
 .prod .prod-bttm #add-to-cart-bttn:hover{
    background-color: #f00606b1;
}

@media screen and (min-width:0px) and (max-width:750px){
    .bg{
        height: 450px;
    }
    .headline{
       font-size: 1.2rem;
       width:400px;
    }
    .context .headline-2{
        font-size: 0.6rem;
        width:400px;
     }
      .gallery-part .subtext{
        font-size: 0.6rem;
        width:400px;
    }
    .bg button{
        font-size: 1rem;
    }
    .works{
        padding: 22px 0;
        
    }
    .works  p{
        width: 100%;
    }
    .gallery-part .maintext, .merch-part .maintext, .works  p{
        font-size: 1.4rem;
    }
    .works .works-list-container{
        grid-template-columns: repeat(4,auto);
        width: fit-content;
        height: 530px;
       padding: 8px 0 ;
    }
    .works .works-list-container.showmore{
        height: 1350px;
    }
    .works .works-list-container .film{
        width: 90px;
        height: 180px;
    }
    .works .works-list-container .film p{
        font-size: 0.6rem;
        height: auto;
    }
    
    .works .works-list-container .film img{
        width: 100%;
        height: auto;
       
    }
    .gallery-part{
       margin:0;
        height: fit-content;
    }
    .gallery-part .gallery-container{
        grid-template-columns:repeat(2,auto) ;
        grid-template-rows:repeat(6,auto);
    }

    .img-container img{
        height: 100px;
    }
    .img-container .ImgHovered{
        padding: 0;
        gap:0;
    }
    .img-container .ImgHovered p{
        font-size: 0.8rem;
    }
    .img-container .ImgHovered .bttns button{
        font-size: 0.6rem;
        padding: 4px 16px;
        width: fit-content;
        margin:4px 0;
    }
    .view-container .movieImage {
        width: auto;
        height: 200px;
    }
    .view-container .nav .set-title{
        font-size: 1rem;
    }
    .view-container .right img{
        width: 32px;
    }
    .merch-part{
        margin-top: 24px;
    }
    .prod-container{
        align-items: center;
        grid-template-columns: repeat(2,auto);
        gap:4px;
    }
    .prod-container .prod{
        width: 180px;
        height: 250px;
        justify-self: center;
    }
    .prod-container .prod .prod-bttm .merch-name{
        font-size: 0.6rem;
        width: auto;
    }
    .prod-container .prod img{
        width: 100px;
    }
   

}

@media screen and (min-width:750px) and (max-width: 1220px){
    .bg{
        height: 500px;
    }
    .headline{
       font-size: 1.8rem;
       width:800px;
    }
    .context .headline-2{
        font-size: 1.1rem;
        width:750px;
     }
      .gallery-part .subtext{
        font-size: 0.8rem;
        width:450px;
    }
    .bg button{
        font-size: 1rem;
    }
    .works{
        padding: 22px 0;
        
    }
    .works  p{
        width: 100%;
    }
    .gallery-part .maintext, .merch-part .maintext, .works  p{
        font-size: 2rem;
    }
    .works .works-list-container{
        grid-template-columns: repeat(5,auto);
        width: fit-content;
        height: 650px;
       padding: 8px ;
    }
    .works .works-list-container.showmore{
        height: 1200px;
    }
    .works .works-list-container .film{
        width: 130px;
        height: 220px;
    }
    .works .works-list-container .film p{
        font-size: 0.8rem;
        height: auto;
    }
    
    .works .works-list-container .film img{
        width: 100%;
        height: auto;
       
    }
    .gallery-part{
        
       margin:0;
        height: fit-content;
    }
    .gallery-part .gallery-container{
        grid-template-columns:repeat(3,auto) ;
        grid-template-rows:repeat(3,auto);
    }

    .img-container img{
        height: 120px;
    }
    .img-container .ImgHovered p{
        font-size: 1rem;
    }
    .img-container .ImgHovered .bttns button{
        font-size: 0.6rem;
    }
    .view-container .movieImage {
        width: auto;
        height: 450px;
    }
    .merch-part{
        margin-top: 24px;
    }
    .prod-container{
        grid-template-columns: repeat(3,225px);
    }
    .prod-container .prod img{
        height: 150px;
    }

}