@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* Gradients */

    --white-bg: repeating-radial-gradient(circle at center center, transparent 0px, transparent 13px,rgba(0,0,0,0.03) 13px, rgba(0,0,0,0.03) 24px,transparent 24px, transparent 62px,rgba(0,0,0,0.03) 62px, rgba(0,0,0,0.03) 96px),repeating-radial-gradient(circle at center center, rgb(255,255,255) 0px, rgb(255,255,255) 14px,rgb(255,255,255) 14px, rgb(255,255,255) 18px,rgb(255,255,255) 18px, rgb(255,255,255) 28px,rgb(255,255,255) 28px, rgb(255,255,255) 32px); 
    --bg-size-white-bg: 21px 21px;

    --blue-bg:  radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(135deg, rgb(37, 56, 222),rgb(96, 189, 244)); 

    --light-blue:  linear-gradient(to bottom, #ffffff5c 40%, #dcf1ff5b 90%);

    --fnt-clr-blue: #0a7cff;
    --fnt-clr-black: #222222;
}
*{
    font-family: "Poppins", sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:inherit;
}
button{
    cursor: pointer;
}
.flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
ul{
    list-style: none;

}
body{
    background-image: var(--white-bg);
    background-size: var(--bg-size-white-bg);
}



/* ----- Header Part ----- */

.bg{
    position: relative;
    width:100%;
    height: 740px;
    overflow: hidden;
    z-index: 1;
    background: url(../assets/img/ghib.png) no-repeat center;
    background-size:cover;
    padding-top: 50px;
}
.bg-content{
    width: 100%;
    height: 100%;
    background-color: #2222226d;
    justify-content:center;
    align-items: center;
    padding: 1.8% 0;
}

.bg button{
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border:none;
    color:#ffffff;
    background-color: #0781c8;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    align-items: center;
    gap:8px;
}
.bg button:hover{
    background-color: #0781c8c8;
}
.context{
    margin-bottom: 2em;
}
.headline{ 
    display: block;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
    width:100%;
}
.headline span{
    color:#0781c8;
}

.context p{
    text-align: center;
}
.context .headline-2{
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
}


section{
    width:auto;
    height: 700px;
    gap:16px;
    margin: 20px 120px;
    justify-content: center;
    align-items: center;
}

section p{
    text-align: center;
    color:var(--fnt-clr-blue);
    text-wrap:wrap;
    word-wrap:break-word;
}

section p strong{
    color:#3a9db4;
    font-size: 2.5rem;
    font-weight: 700;
    display: block;
}
.gallery{
    margin-top: 100px;
}
.gallery img{
    width: 1000px;
    height: auto;
    object-fit: contain;
    box-shadow:0px 1px 4px rgba(0, 0, 0, 0.16) ;
}


.merchandise .sub{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width:100%;
    justify-content: space-between;
    align-items: start;
    gap:8px;
    margin:16px 0;

}
.merchandise .sub .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:16px 0;
    box-shadow:0px 1px 4px rgba(0, 0, 0, 0.16) ;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.merchandise .sub .container .text1{
    font-size: 1.5rem;
    font-weight: 700;
    color:#222222;
}
.merchandise .sub .container .text2{
    font-size: 0.8rem;
    color:#222222;
    width:90%;
}
.merchandise button, .gallery  button{
    justify-content: space-between;
    align-items: center;
    width:fit-content;
    height: fit-content;
    font-size: 1.1rem;
    padding: 4px 16px;
    border:none;
    border-radius: 20px;
    background-color:#222222 ;
    margin-top: 16px;
    color: #fff;
    gap:8px;
    cursor: pointer;
    z-index: 5;
    transition: 0.15s ease-in;
}
.merchandise button img, .gallery  button img{
    width:20px;
    height: auto;
}
.merchandise button:hover , .gallery  button:hover{
    background-color: #3b3b3b ;
}

.msg{
    flex-direction: row;
    height:  fit-content;
}
.msg img{
    width:auto;
    height: 50vh;
}
.msg div p:first-child{
    font-size: 2rem;
    font-weight: 700;
}
.msg div p{
    width: auto;
    color:#222222;
    text-align: center;
    font-weight: 500;
     margin-bottom: 8px;
}

@media screen and (min-width:0px) and (max-width:750px){ 
    .bg{
        height: 450px;
    }
    .headline{
       font-size: 2rem;
       width:400px;
    }
    .context .headline-2{
        font-size: 0.8rem;
        width:400px;
     }
    
    .bg button{
        font-size: 0.9rem;
    }
    .bg button img{
        height: 16px;
    }
    section{
        padding: 0 16px;
        margin:24px 0;
        height: fit-content;
    }
    section p strong{
        font-size: 1.8rem;
    }
    
    section p{
        font-size: 0.8rem;
    }
    .gallery img{
        width: auto;
       height: 150px;
    }
    .merchandise .sub{
        grid-template-rows: repeat(3, auto);
        grid-template-columns: auto;
        width: fit-content;
        gap:8px;
    }
    .merchandise .sub .container{
        width: 350px;
        height: 200px;
    }
    .merchandise .sub .container .text1{
        font-size: 1rem;
    }
    .merchandise .sub .container .text2{
        font-size: 0.7rem;
    }
    .msg{
        flex-direction: column;
    }
    .msg img{  
    height: 30vh;
    }
    
    .msg div p:first-child{
        font-size: 1.2rem;
        font-weight: 700;
    }
    .msg div p{
        font-size: 0.7rem;
    }
}

@media screen and (min-width:750px) and (max-width: 1220px){ 
    .bg{
        height: 600px;
    }
    .headline{
       font-size: 2.5rem;
       width:auto;
    }
    .context .headline-2{
        font-size: 1rem;
        width:auto;
     }
    
    .bg button{
        font-size: 1rem;
    }
    .bg button img{
        height: 24px;
    }
    section{
        padding: 0 16px;
        margin:24px 0;
        height: fit-content;
    }
    section p strong{
        font-size: 1.8rem;
    }
    
    section p{
        font-size: 0.8rem;
    }
    .gallery img{
        width: auto;
       height: 300px;
    }
    .merchandise .sub{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto auto;
        width: fit-content;
        gap:8px;
    }
    .merchandise .sub .container{
        width: 350px;
        height: 250px;
    }
    .merchandise .sub .container .text1{
        font-size: 1rem;
    }
    .merchandise .sub .container .text2{
        font-size: 0.7rem;
    }
    .msg{
        flex-direction: row;
    }
    .msg img{  
    height: 30vh;
    }
    
    .msg div p:first-child{
        font-size: 1.4rem;
        font-weight: 700;
    }
    .msg div p{
        font-size: 0.8rem;
    }

}