:root{
    --fnt-clr-blue: #0a7cff;
    --fnt-clr-black: #222222;
    --light-blk: rgba(0, 0, 0, 0.16);
    --bx-shdw: 0px 1px 4px rgba(0, 0, 0, 0.16);
}


*{
    font-family: "Poppins", sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:inherit;
    cursor: pointer;
}
button{
    cursor: pointer;
}
.flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
ul{
    list-style: none;

}
body{
    position: relative;
    background-image: #ffffff;
}

body .text{
    margin:0 120px;
    font-size: 1.4rem;
    font-weight: 500;
    width: auto;
    border-bottom: 1px solid var(--light-blk);
}
header{
    width:100%;
    height: auto;
    align-items: center;
    justify-content: center;
    gap:16px;
    padding:100px 120px;
}

header img{

    width: auto;
    height: 400px ;
    box-shadow:0px 1px 4px rgba(0, 0, 0, 0.16) ;
    object-fit: cover;
}

header section{
    align-items: start;

}
header section p{
    font-size: 1rem;
    width: 800px;
}
header section .movie-title{
    font-size: 2.5rem;
    font-weight: 600;
}
header section .movie-title .light{
    font-size: 1rem;
    font-weight: 400;
}

.gallery-container{
    position: relative;
    display:grid;
    justify-content: start;
    grid-template-columns:repeat(6,auto) ;
    gap:8px;
    width: 85%;
    height: auto;
    overflow: hidden;
    margin:50px 120px;
}

.img-container{
    position: relative;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height: fit-content;
    overflow: hidden;
    transition: transform 0.15s ease-in-out;
}
.img-container img{
    width: auto;
    height: 170px;
}
.img-container .ImgHovered{
    position:absolute;
    justify-content: center;
    align-items: center;
    opacity:0;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222222c6;
    padding: 8px;
    width:100%;
    transition: opacity 0.15s ease-in-out;
    cursor: pointer;
}
.img-container:hover{
    transform: scale(1.03);
}
.img-container .ImgHovered:hover{
    opacity: 1;
}
.img-container .ImgHovered p{
    color:#ffffff;
    font-size: 1.4rem;
    font-weight: 500 ;
}
.img-container .ImgHovered .bttns{
    justify-content: center;
    gap:8px;
}
.img-container .ImgHovered .bttns button{
    color:var(--fnt-clr-black);
    border:none;
    background-color: #ffffff;
    padding: 4px;
    font-size: 0.8rem;
    width: 100px;
    border-radius: 20px;
    font-weight: 500;
    margin:16px 0;
}
.img-container .ImgHovered .bttns button:hover{
    background-color: #ffffffe1;
}


 .view-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222c6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    gap: 16px;
    visibility:hidden;
    opacity:0;
    transition:opacity 0.2s ease-in;
    z-index: 50;
}



.view-container.active {
    visibility:visible;
    opacity:1;
}


.view-container .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    padding: 8px 0;
    background-color: #ffffff;
}

.view-container .nav p {
    text-align: center;
    font-size: 1.1rem;
    color: #222222;
    font-weight: 500;
}
.view-container .nav .right img{
    padding:8px;
    background-color: #f0f0f0;
    border-radius:0.5rem;
    cursor: pointer;
}
.view-container .nav{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding:8px 16px;
    background-color: #fff;
}
.view-container .nav .left{
    justify-content: start;
}

.view-container .nav .right{
    justify-content: end;
    align-items: center;
    gap:8px;
}

.view-container .nav .right img:hover{
    background-color: #c2c2c2;
} 

.view-container .movieImage {
    width: auto;
    height: 600px;
}


