:root{
    --fnt-clr-blue: #0a7cff;
    --fnt-clr-black: #222222;
    --light-blk: rgba(0, 0, 0, 0.16);
    --bx-shdw: 0px 1px 4px rgba(0, 0, 0, 0.16);
}


*{
    font-family: "Poppins", sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:inherit;
    cursor: pointer;
}
button{
    cursor: pointer;
}
.flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
ul{
    list-style: none;

}
body{
    position: relative;
    background-image: #ffffff;
}

body .text{
    margin:0 120px;
    font-size: 1.4rem;
    font-weight: 500;
    width: auto;
    border-bottom: 1px solid var(--light-blk);
}

header{
    width:100%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding:100px 120px;
}

header img{
    width: auto;
    height: 400px ;
    box-shadow:0px 1px 4px rgba(0, 0, 0, 0.16) ;
    object-fit: cover;
}

header .work-abt{
    align-items: start;
    padding:0;
}
header .work-abt p{
    font-size: 1rem;
    width: fit-content;
    padding-left: 16px;
}
header .work-abt .movie-title{
    font-size: 2.5rem;
    font-weight: 600;
}
header .work-abt .movie-title .light{
    font-size: 1rem;
    font-weight: 400;
}

@media screen and (min-width:0px) and (max-width:750px){
    body .text{
        margin:0 54px;
    }
    header{
        flex-direction: column;
        padding:100px 0;
    }
    header .work-abt{
        margin: 0 24px;
    }
    header .work-abt p{
        font-size: 0.8rem;
        width: 100%;
        text-align: center;
    }
    header .work-abt .movie-title{
        margin: 16px 0;
        font-size: 1.4rem;
    }
}

@media screen and (min-width:750px) and (max-width: 1220px){ 
    body .text{
        margin:0 154px;
    }
    header{
        flex-direction: column;
        padding:100px 0;
    }
    header .work-abt{
        margin: 0 24px;
    }
    header .work-abt p{
        font-size: 0.9rem;
        width: 100%;
        text-align: center;
    }
    header .work-abt .movie-title{
        font-size: 2.4rem;
    }
}