@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* Gradients */
    --white-bg: repeating-radial-gradient(circle at center center, transparent 0px, transparent 13px,rgba(0,0,0,0.03) 13px, rgba(0,0,0,0.03) 24px,transparent 24px, transparent 62px,rgba(0,0,0,0.03) 62px, rgba(0,0,0,0.03) 96px),repeating-radial-gradient(circle at center center, rgb(255,255,255) 0px, rgb(255,255,255) 14px,rgb(255,255,255) 14px, rgb(255,255,255) 18px,rgb(255,255,255) 18px, rgb(255,255,255) 28px,rgb(255,255,255) 28px, rgb(255,255,255) 32px); 
    --bg-size-white-bg: 21px 21px;

    --blue-bg:  radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(135deg, rgb(37, 56, 222),rgb(96, 189, 244)); 

    --light-blue:  linear-gradient(to bottom, #ffffff5c 40%, #dcf1ff5b 90%);
}
*{
    font-family: "Poppins", sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:inherit;
    cursor: pointer;
}
button{
    cursor: pointer;
}
.flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
ul{
    list-style: none;

}
nav{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 10;   
    padding:8px 12px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
nav div a{
    font-size: 1.1rem;
    color:#222222;
}
nav div{
    display: flex;
    align-items: center;
}
nav .left{
    gap:4px;
}
nav .left a{
    font-weight: 500;
}
nav .left img{
    object-fit: contain;
}

nav .center{
    justify-content: center;
    gap:18px;
}

nav .right{
    justify-content: end;
    gap:16px;
}
nav .right #cart{
    cursor: pointer;
}
nav .right #login{
    padding: 4px 16px;
    border-radius: 4px;
    background-color: #222222;
    color: #fff;
    font-size: inherit;
    border:none;
}

nav .center a:hover{
    color: #0781c8;
    transition: background-color 0.15s ease-in;

}

/* LOG IN AND CREATE ACCOUNT */
.log-in{
    z-index: 15;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    top:0;
    bottom:0;
    left:0;
    right:0;
    visibility: hidden;
}

.m-container{
    width: 400px;
    height: auto;
    padding: 24px;
    align-items: center;
    gap:16px;
    background-color: #ffffff;
    border-radius: 0.5rem;
}
.m-container .wc{
    font-size: 1.8rem;
    font-weight: 600;
}
.m-container .container{
    align-items: start;
    gap:4px;
    width: 100%;
}
.m-container .container input{
    padding:8px;
    border-radius: 0.5rem;
    border:1px solid #222222;
    width: 100%;
}
.m-container #bttn{
    padding: 8px 0 ;
    width:100%;
    color:#ffffff;
    background-color: #0781c8;
    border:none;
    border-radius: 0.5rem;
    font-size: 1.1rem;
}
.m-container .blue{
    color:#0773b1;
}
.m-container a:hover{
    text-decoration: underline;
}

#login-container, #create-container{
    position:absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}
#login-container{
     z-index: 5;
     visibility: hidden;
}
#create-container{
     z-index: 1;
     visibility: hidden;
 }


footer{
    width:100%;
    height: auto;
    justify-content: start;
    align-items: center;
    padding: 2% 0;
    background-image:var(--blue-bg);
    margin-top: 30px;
}

footer p{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 8px;
}

footer .first-col{
    justify-content: center;
    width:80%;
    gap:5%;
}
footer .first-col .links p{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 8px;
}

footer .first-col .links ul li{
    font-weight: 500;
    color:#222222;
}
footer .first-col .links ul li:hover{
    color:#000000;
    text-decoration: underline;
}
footer img{
    width:20%;
    height: 60px;
    margin: 2% 0;
}