@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --fnt-clr-blue: #0a7cff;
    --fnt-clr-black: #222222;
    --light-blk: rgba(0, 0, 0, 0.16);
    --bx-shdw: 0px 1px 4px rgba(0, 0, 0, 0.16);
    --basic-bg-c:#e7e7e7;
    --basic-brdr:1px solid #d4d4d4;
    --b-brdr-clr:#d4d4d4;
}
html {
    scroll-behavior: smooth;
  }

*{
    font-family: "Poppins", sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:inherit;
    cursor: pointer;
}
button{
    cursor: pointer;
}
.flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
ul{
    list-style: none;

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    position: relative;
    background-image: #ffffff;
}
nav .center a:last-child{
    color: #0781c8;
}


h1{
    color: var(--fnt-clr-black);
    width: 100%;
    text-align: center;
    font-size: 2.7rem;
}

header, .shop-bttm{
    width: 1220px;
}

header{
    margin: 16px 150px;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
    background-color:#f2f2f2 ;
}
header input, header select {
    padding:8px 16px;
    border: var(--basic-brdr);
    border-radius: 0.5rem;
    font-size: 1rem;
   
}
header input:focus, header select:focus{
    outline: 1px solid var(--fnt-clr-blue);
}
header .search-container input{
    width: 400px;
}
header .search-container img{
    margin-left: -30px;
    width: 20px;
    cursor: pointer;
}
header .sort-container{
    align-items: center;
    gap:8px;
}
.shop-bttm{
    margin: 16px 150px;
    justify-content: space-between;
    align-items: start;
    gap:16px;
}
.filter-container{
    display: flex;
    border:var(--basic-brdr);
    padding: 24px;
    width:400px;
    height: 100%;
    gap:16px;
}
.filter-container .p-val{
    justify-content: space-between;
}
.filter-container .f-bttn{
    gap:8px;
    margin:8px 0;
}
.filter-container .f-bttn button{
    padding:4px 16px;
    font-size:1rem;
    border-radius: 0.2rem;   
}
.filter-container .f-bttn  #f-bttn{
    border:none;
    color:#fff;
    background-color: var(--fnt-clr-blue);
}
.filter-container .f-bttn  #f-clear{
    border:1px solid var(--fnt-clr-blue);
    background-color: #fff;
    color:var(--fnt-clr-blue);
}
.filter-container .categories:not(.categories p){
    gap:8px;
}
.filter-container .categories p{
    font-size: 1.2rem;
}
.filter-container .categories a{
    color:#7b7b7b;
}
.filter-container .categories a:hover{
    color:#414141;
}
.s-sdbr {
    display: none;
    align-self: start;
    justify-content: start;
    gap:8px;
    margin:-8px 8px 8px -8px;
    cursor: pointer;
}
.s-sdbr img{
    width: 18px;
}

#h-sidebar{
    display: none;
    position: fixed;
    flex-direction: column;
    z-index: 9;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    background-color: #2222223f;
}
#h-sidebar .filter-container{
    display: flex;
    position: fixed;
    top:50;
    bottom:0;
    left: 0;
    width: 300px;
    background-color: #fff;
    box-shadow: var(--bx-shdw);
    padding-top: 24px;
    padding-top: 100px;
}

.prod-container{
    display:grid;
    grid-template-columns: repeat(4,225px);
    width:fit-content;
    height: auto;
    gap:8px;
    margin: 0;
}
 .prod-container  .prod{
    width:fit-content;
    height: auto;
    align-items: center;
    gap:4px;
    border:1px solid rgba(0, 0, 0, 0.16) ;
    box-shadow:0px 1px 4px rgba(0, 0, 0, 0.16) ;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    background-color: #fff;
}
.prod-container  .prod:hover{
    transform: scale(1.02);
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
 .prod-container .prod img{
    height: 220px;
    width:100%;
    object-fit: contain;
}
 .prod-container .prod-bttm{
    width: 100%;
    align-items: center;
    padding:8px;
    height: auto;
}
.prod .prod-bttm p {
    font-size: 0.8rem;
}
 .prod .prod-bttm .merch-name{
    width: 200px;
    height: 50px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#222222 ;
}

 .prod .prod-bttm #merch-price{
    color:#f00606;
    font-weight: 500;
}
.prod .prod-bttm #add-to-cart-bttn{
    color:#ffffff;
    background-color: #f0060687;
    border: 1px dashed #e90000;
    font-weight: 500;
    transition: 0.15s ease-in-out;
    font-size: 0.9rem;
    padding: 4px 16px;
    border-radius: 25px;
    margin-top: 16px;
}
 .prod .prod-bttm #add-to-cart-bttn:hover{
    background-color: #f00606b1;
}

.pagination{
    justify-content: center;
    align-items: center;
    gap:8px;
    margin:54px 0;
}
.pagination a{
    text-align: center;
    width: 40px;
    height: 38px;
    padding:5px;
    border-radius: 50%;
    background-color: #fff;
    border:2px solid var(--fnt-clr-blue);
    color:var(--fnt-clr-blue);
    font-weight: 500;
}
.pagination a:hover{
    background-color: var(--fnt-clr-blue);
    color:#fff;
}
@media screen and (min-width:0px) and (max-width:700px){ 
  .shop-bttm{
        width: 400px;
    }
    
        h1{
            font-size: 2rem;
        }

        header{
            width: 100%;
            margin: 16px 24px;
            flex-direction: column;
            gap:8px;
        }
        header .search-container input,header .sort-container select, .sort-container label{
            font-size: 0.8rem;
        }
        header .search-container input{
            width: 350px;
        }
         header .sort-container select{
            width: 240px;
        }
        .shop-bttm{
            margin: 16px 8px;
            justify-content: center;
        }
        .s-sdbr{
            display: flex;
        }
        .filter-container{
            display: none;
            width: 0;
        }
        .prod-container{
            align-items: center;
            grid-template-columns: repeat(2,auto);
            gap:4px;
        }
        .prod-container .prod{
            width: 180px;
            height: 250px;
            justify-self: center;
        }
        .prod-container .prod .prod-bttm .merch-name{
            font-size: 0.6rem;
            width: auto;
        }
        .prod-container .prod img{
            width: 100px;
        }
        .prod .prod-bttm #add-to-cart-bttn{
            font-size: 0.8rem;
        }

}

@media screen and (min-width:700px) and (max-width: 1100px){ 
    header, .shop-bttm{
        width: 700px;
    }
    header{
        margin: 16px 40px;
        gap:8px;
       
    }
    header .search-container input,header .sort-container select, .sort-container label{
        font-size: 0.8rem;
    }
    header .search-container input{
        width: 320px;
    }
     header .sort-container select{
        width: 240px;
    }
    .filter-container{
        width: 250px;
    }
    .shop-bttm{
        margin: 16px 8px;
        justify-content: center;
    }
    .prod-container{
        align-items: center;
        grid-template-columns: repeat(2,auto);
        gap:8px;
    }
    .prod-container .prod{
        width: 200px;
        height: 300px;
        justify-self: center;
    }
    .prod-container .prod .prod-bttm .merch-name{
        font-size: 0.8rem;
        width: auto;
    }
    .prod-container .prod img{
        width: 150px;
    }
    .prod .prod-bttm #add-to-cart-bttn{
        font-size: 0.8rem;
    }
     
}
@media screen and (min-width:1100px) and (max-width:1350px ){ 
    
    .prod-container{
        align-items: center;
        grid-template-columns: repeat(3,auto);
        gap:8px;
    }
    header, .shop-bttm{
        width: 1000px;
    }

}
 