@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: grid;
    grid-template-columns: auto auto 2fr 1fr;
    align-items: center;
    justify-content: center ;
    column-gap: 25px;
    width:100%;
    position: sticky;
    top:0;
    background-color: #109bebd8;
    z-index: 5;
    padding: 5px;
    color:#ffffff;
}
header .img_container{
    width:100%;
}
header img{
    width:auto;
    height: 50px;
}

header .search_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
}
header .search_bar input{
    width:100%;
    padding: 8px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
header .search_bar .search_bttn{
    width: 20px;
    margin-left:-25px;
    cursor: pointer;
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width:100%;
    gap:5%;
    padding: 0 5%;
}
header .logo_name{
    margin-left: -30px;
    margin-right: 50px;
    font-size: 1rem;
}
header p{
    font-size: 1.2rem;
}
header ul li{
    color:#ffffff;
    padding:0 5px;
}
header ul li:hover{
    color: #ffffffd6;
}

.featured_sec {
    height: 85vh;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    margin: 15px 0;

}

.featured_sec img{
    width:55%;
    height:100%;
    box-shadow: -2px 0 10px rgb(49, 49, 49);
    background-color: #109ceb;
}
.featured_text{
    height: 100%;
    width:40%;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 0px 0 0 50px;
    justify-content: center;
}


.featured_text p{
    font-weight: 600;
    font-size: 3.4rem;
    width:85%;
    color: rgb(0, 0, 0);
}

.featured_text button, .content_descrip button{
    padding:8px;
    width: 50%;
    cursor: pointer;
    font-size: 1.1rem;
    background-color: #222222;
    border:none;
    color:#ffffff;
    border-radius: 50px;
    transition: 0.20s ease;
}

.featured_text button:hover, .content_descrip button:hover {
    background-color: rgba(42, 42, 42, 0.922);
}
.gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 20px;
    height: 85vh;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    margin:25px 0;
}
.content_descrip{
    width:50%;
    height: 100%;
    background-color: #ffffff;
    display:flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    gap:15px;
}

.content_descrip p:nth-child(1){
    font-size: 3rem;
    font-weight: 600;
}
.content_descrip p:nth-child(2){
    width:95%;
    word-break: keep-all;
}
.content_descrip a:hover{
    text-decoration: underline;
    color:#494949;
}

.gallery_container{
  display:flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  height: 100%;
  width:50%;
  margin: 20px 0;

}

.gallery .item{
  flex: 0 0 100%;
  height:100%;
  background-color: rgb(0, 0, 0);
  scroll-snap-align: start;
  overflow: hidden;
}
.gallery .item img{
    width:100%;
    height: 100%;
}

