@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:inherit;
}

.flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
ul{
    list-style: none;

}
body{
    background-image: repeating-radial-gradient(circle at center center, transparent 0px, transparent 13px,rgba(0,0,0,0.03) 13px, rgba(0,0,0,0.03) 24px,transparent 24px, transparent 62px,rgba(0,0,0,0.03) 62px, rgba(0,0,0,0.03) 96px),repeating-radial-gradient(circle at center center, rgb(255,255,255) 0px, rgb(255,255,255) 14px,rgb(255,255,255) 14px, rgb(255,255,255) 18px,rgb(255,255,255) 18px, rgb(255,255,255) 28px,rgb(255,255,255) 28px, rgb(255,255,255) 32px); background-size: 21px 21px;
}
 .logo{
    width: 50px;
    height: 45px;
    background-image: url(assets/icons/logo.svg) ;
    background-position: center;
    background-size: contain ;
    background-repeat: no-repeat;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 0 8px 25px #757575;
}
nav{
    justify-content: center;
    align-items: start;
    width:100%;
    position: fixed;
    top:25px;
    z-index: 10;
}


.nav{
    justify-content: center;
    align-items: center;
    width:auto;
    background-color: #222222;
    border-radius: 25px;
    color:#ffffff;
    padding: 0.5rem 0.4rem;
    box-shadow: 0 8px 25px #757575;
    
}
.nav li{
    margin: 0 0.2rem;
    padding: 0.2rem 0.8rem;
    border-radius: 20px;
    border:none;
}



.nav li:last-child{
    background-color: #0781c8;
    color: #ffffff;
}
.nav li:last-child:hover{
    background-color: #0781c8e0;
    color: inherit;
}

.nav li:hover, .featured button:hover{
    background-color: #ffffff;
    color:#222222;
    transition: 0.15s ease-in;
}

main{
    align-items: center;
    margin-top: 10px;
    gap:8px;
}
.featured{
    background-image: linear-gradient(to bottom, #e6f4fd , #109ceb );
    width:98%;
    height: 95vh;
    border-radius: 12px;
    overflow: hidden;
    z-index: 1;
}
.featured-content{
    width: 100%;
    height: 100%;
    justify-content:center;
    align-items: center;
    padding: 1.8% 0;
    background: url(assets/img/totoro-crop.png) no-repeat right;
    background-size:contain;
}

.featured button{
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border:none;
    color:#ffffff;
    background-color: #222222;
    cursor: pointer;
    box-shadow: 0 8px 25px #757575;
}

.context{
    margin-bottom: 2em;
}

.context p{
    text-align: center;
    filter: drop-shadow(#757575 0 2px 2px);
}
.context .headline{
    font-size: 3.4rem;
    font-weight: 700;
    color: #222222;
}
.context .subtitle{
    font-size: 1.4rem;
    font-weight: 400;
    color: #222222;
}
.headline-2{
    font-weight: 800;
    font-size: 4rem;
    color: #222222;
    margin: 6rem 0 1.8rem 0;
}
.headline-2 span{
    color:#0781c8;
}

.about{
    border-radius: 12px;
    width:98%;
    height: auto;
    padding:3% 5%;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(45deg, rgba(86, 86, 86,0.04) 0%, rgba(86, 86, 86,0.04) 50%,rgba(169, 169, 169,0.04) 50%, rgba(169, 169, 169,0.04) 71%,rgba(251, 251, 251,0.04) 71%, rgba(251, 251, 251,0.04) 100%),linear-gradient(45deg, rgba(86, 86, 86,0.04) 0%, rgba(86, 86, 86,0.04) 56%,rgba(169, 169, 169,0.04) 56%, rgba(169, 169, 169,0.04) 67%,rgba(251, 251, 251,0.04) 67%, rgba(251, 251, 251,0.04) 100%),linear-gradient(135deg, rgba(86, 86, 86,0.04) 0%, rgba(86, 86, 86,0.04) 4%,rgba(169, 169, 169,0.04) 4%, rgba(169, 169, 169,0.04) 75%,rgba(251, 251, 251,0.04) 75%, rgba(251, 251, 251,0.04) 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
}

.about .headline, .about  .about-w-nav .descrip{
    color:#ffffff;
}

.about .headline{
    width: 60%;
    font-weight: 600;
    font-size: 1.8rem;
}
.about .about-w-nav{
    width: 30%;
    gap:8px;
}
.about .about-w-nav .descrip{
    color:rgb(226, 226, 226);
}
.about .about-w-nav button {
    font-size: 1.1rem;
}
.about .about-w-nav button{
    justify-content: center;
    align-items: center;
    color: #222222;
    border:none;
    background-color: #ffffff;
    padding:8px;
    width: 60%;
    border-radius: 22px;
    font-weight: 500;
    cursor: pointer;
}
.about .about-w-nav button:hover{
    background-color: #ffffffd6;
    transition: 0.15s ease-in-out;
}

footer{
    width:100%;
    height: auto;
    justify-content: start;
    align-items: center;
    padding: 2% 0;
    background-image: radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(135deg, rgb(37, 56, 222),rgb(96, 189, 244));
}

footer p{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 8px;
}
footer .subscription{
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    width:100%;
}
footer .subscription input{
    padding:8px 0 8px 12px;
    z-index: 1;
    width:20%;
    border:none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    outline: 1px solid #109ceb;
}
footer .subscription button{
    font-weight: 500;
    padding:8px;
    margin-left: -25px;
    z-index: 51;
    cursor: pointer;
    background-color: #222222;
    border:none;
    border-radius: 20px;
    color:#ffffff;
}

footer .after-subscrip{
    justify-content: center;
    width:80%;
    gap:5%;
}
footer .after-subscrip .links p{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 8px;
}

footer .after-subscrip .links ul li{
    font-weight: 500;
    color:#222222;
}
footer .after-subscrip .links ul li:hover{
    color:#000000;
    text-decoration: underline;
}
footer img{
    width:20%;
    height: 60px;
    margin: 2% 0;
}